ul.circle{
    list-style-type: circle;
}
ul.square{
    list-style-type: square;
}

ul.circle{
    background-color: yellow;
}
ul.square{
    background-color: yellow;
}
span.yellow{
    background-color: yellow;
}
ul.disc{
    background-color: yellow;
}